<%
  def props
    { docId: @doc.id.to_s, markdown: @doc.content }
  end
%>

<% content_for(:head) do %>
  <%# <%= stylesheet_pack_tag 'DocsEditorPack', media: 'all' %>
<% end %>

<% content_for(:tail) do %>
  <%# <%= javascript_pack_tag 'DocsEditorPack', 'data-turbolinks-track': 'reload' %>
<% end %>
<script type="application/json" id="react-root-data">
  <%= props.to_json.html_safe %>
</script>
<div
  class="bg-white shadow overflow-hidiven  sm:rounded-lg max-w-3xl mx-auto mt-4"
>
  <div
    class="px-6 py-5 border-b border-gray-200 flex flex-col items-between justify-center  lg:flex-row lg:items-center lg:justify-between sm:px-6"
  >
    <div class="mt-4 text-3xl font-semibold">Update Doc</div>
  </div>
  <div class="px-6 py-4 mx-auto">
    <section class="mt-8">
      <%= simple_form_for @doc, defaults: { input_html: { class: 'shadow-sm focus:ring-primary-500 focus:border-primary-500 block w-full sm:text-sm border-gray-300 rounded-md h-12' }, wrapper_html: { class: 'flex flex-col my-4' }, label_html: { class: 'block text-sm font-medium text-gray-700 mb-2' } } do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :title, required: true, label: 'Enter Doc Name' %>
        <%= f.input :excerpt, required: true, label: 'Excerpt (Short description)', input_html: { maxlength: 250 } %>

        <%= f.input :content, as: :text, required: true, label: 'Contents (Markdown)', input_html: { class: 'test',rows: 15 }%>
        <div class="w-full" id="docs-editor"></div>
        <span class="inline-flex rounded-md shadow-sm">
          <%= f.button :submit, 'Update Doc', class: 'mt-4 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-gray-900 hover:bg-gray-800 focus:outline-none focus:border-gray-700 focus:shadow-outline-indigo active:bg-gray-700 transition ease-in-out duration-150' %>
        </span>
      <% end %>
    </section>
  </div>
</div>
