<%= render partial: "/layouts/breadcrumbs" %>

<div class="md:flex mt-6 justify-between items-center space-y-4">
  <div class="text-3xl font-bold">
    <%= @doc.title%>
  </div>
  <div class="flex space-x-2">
    <%= link_to "Edit", edit_doc_path(@doc), class: "cursor-pointer block px-2 md:px-5 py-2 md:py-3 text-gray-900 font-semibold rounded-md border border-gray-500 shadow hover:text-gray-700 hover:shadow-2xl hover:bg-gray-100 hover:to-gray-300 transition"%>
  </div>
</div>
<div class="mt-4">
  <div class="text-md">
    <%= @doc.excerpt%>
  </div>
  <div class="text-md font-bold">By: <%= @doc.user.name%></div>
</div>

<div class="mt-4">
  <div
    class="block px-5 py-3 text-gray-900 rounded-md border border-gray-500 shadow"
  >
    <article class="prose lg:prose-xl">
      <%= Kramdown::Document.new(@doc.content).to_html.html_safe %>
    </article>
  </div>
</div>
